*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #213448;
}

nav {
    /* background-color: aquamarine; */
    border-bottom: 1px solid #547792;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav a {
    color: #94B4C1;
    padding: 10px 15px;
    border-bottom: 1px solid transparent; /* Invisible by default */
    transition: all 0.3s ease;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    background-color: #EAE0CF;
    padding-bottom: 10px;
    border-bottom: 1px solid currentColor;
    border-radius: 0px;
}