{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title this shit</title>
    <link rel="stylesheet" href="/static/css/layout/layout.css">
</head>
<body>
    <nav >
        <h2>Users counts ({{.Count}})</h2>
        <div>
            <a href="/" class="{{if eq .ActivePage "home"}}active{{end}}">Home</a>
            <a href="/add/account" class="{{if eq .ActivePage "add"}}active{{end}}">Add User</a>
            <a href="#" class="{{if eq .ActivePage "about"}}active{{end}}">About</a>
        </div>
    </nav>


{{end}}

{{define "footer"}}

</body>
</html>
{{end}}